body {
  font-family: 'Creepster', cursive;
}

.jumbotron {
  margin-left: 0px;
  background: #2db34a;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.jumbotron:hover {
  background: #ff7b29;
}

.image {
  margin-left: 400px;
}

#displaydice {
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}

#main {
  text-align: center;
}

.instructions {
  text-align: center;
  padding-top: 10em;
}

body {
  background-color: blue;
}

.jumbotron {
  background-color: red;
}

.wrapper {
  width: 1000px;
  height: 910px;
  margin-bottom: 30px;
  border: 2px solid black;
  background-color: white;
  margin-left: 160px;
  min-height: 12px;
}
